@{
    ViewBag.Title = "Meine Rationen";
}

<h2>Geflügel Auswahl</h2>

@using (Html.BeginForm("GefluegelAuswahl", "Gefluegel", FormMethod.Post))
{
@*    <input type="submit" name="gefluegel" value="Huhn" />
    <input type="submit" name="gefluegel" value="Pute" />*@
}

@using (Html.BeginForm("FutterHinzufuegen", "Gefluegel", FormMethod.Post))
{
    <input type="submit" value="Futterration hinzufügen" />
}