@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wilkommen bei ihrem Rationsrechner</h1>
    <br />

    <button onclick="window.location.href='@Url.Action("meineRationen", "Home")'">Zu meiner eigenen Seite</button>

</div>
